
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amaze</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.js"></script>


</head>
    <body style="background-color: #171717; touch-action: none; overflow: hidden; overscroll-behavior-y: contain; position: fixed; margin: 0; padding: 0; min-height: 100vh; width: 100%; overflow: hidden; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
        <script src="../dist/project.bundle.js"></script>
    </body>
</html>